        <div class="row d-flex">
            <div class="col-5 d-flex tl">
                <img src="Assets/klubilogo.png" alt="" id="logo">
                <div id="logoText">
                    HIKING CLUB
                </div>
            </div>
            <nav class="col-7 nav d-flex">
                <div class="nav-home"><a href="/">HOME</a></div>
                <div class="nav-up"><a href="/upcoming">UPCOMING TREKS</a></div>
                <div class="nav-fam"><a href="#">TREK FOR FAMILY</a></div>
                <div class="nav-con"><a href="/kontakt">CONTACT US</a></div>
            </nav>
        </div>