<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
    <title>Register</title>
</head>

<body>
    <div class="headerSection d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-5 d-flex tl">
                    <img src="../Assets/klubilogo.png" alt="" id="logo">
                    <div id="logoText">
                        HIKING CLUB
                    </div>
                </div>
                <nav class="col-7 nav d-flex">
                    <div class="nav-home"><a href="/">HOME</a></div>
                    <div class="nav-up"><a href="/upcoming">UPCOMING TREKS</a></div>
                    <div class="nav-con"><a href="/kontakt">CONTACT US</a></div>
                </nav>
            </div>
            <h1>Register to hike: <%= hike.name %></h1>
            <img class="register-img" src="<%= hike.imgURL %>" alt="">
            <p><%= hike.description %></p>
            <div class="row">
                <form action="#">
                    <div class="form-group">
                        <label for="name">Your name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="note">Note:</label>
                        <textarea class="form-control" name="note" id="note" cols="30" rows="5"></textarea>
                    </div>
                    <button onclick="" class="btn btn-default">Send</button>
                </form>
            </div>  
        </div>
    </div>
</body>

</html>