<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
        <title>Kontakt</title>
</head>

<body>
    <div class="headerSection d-flex">
        <div class="container">
            <%- include ("../partials/header.ejs") %>
        </div>
    </div>
</body>

</html>